<div class="container my-5">
  <div class="row">
    <div class="col-12 d-flex flex-row justify-content-center">
      <div>
        <a *ngIf="!logged" [routerLink]="'/company/profile'" class="btn btn-primary">Profilo</a>
        <a *ngIf="logged" [routerLink]="'/company/register'" class="btn btn-primary">Registrazione</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3 col-sm-12">
      <app-company-form (submitted)="submit($event)" [company]="company"></app-company-form>
    </div>
  </div>
</div>
