<div class="container my-5">
  <div class="row">
    <div class="col">
      <h4 *ngIf="logged" class="text-center">Modifica il profilo della tua società o <a
        [routerLink]="'/company/register'">iscriviti come nuova azienda</a></h4>
      <h4 *ngIf="!logged" class="text-center">Iscriviti come nuova azienda o <a [routerLink]="'/company/profile'">entra
        come azienda loggata</a> per modificare il profilo </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3 col-sm-12">
      <app-company-form (submitted)="submit($event)" [company]="company"></app-company-form>
    </div>
  </div>
</div>
