<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <a [routerLinkActive]="'active'" [routerLink]="'/back-office/candidate-new'" aria-current="page"
             class="nav-link">Nuovo candidato</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActive]="'active'" [routerLink]="'/back-office/company-new'" aria-current="page"
             class="nav-link">Nuova azienda</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActive]="'active'" [routerLink]="'/back-office/vacancy-new'" aria-current="page"
             class="nav-link">Nuova vacancy</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
