<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <a [routerLinkActive]="'active'" [routerLink]="'/back-office/candidate-new'" class="nav-link">Nuovo
            candidato</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActive]="'active'" [routerLink]="'/back-office/company-new'" class="nav-link">Nuova azienda</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActive]="'active'" [routerLink]="'/back-office/vacancy-new'" class="nav-link">Nuova vacancy</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActive]="'active'" [routerLink]="'/back-office/apply-list'" class="nav-link">Storico
            candidature</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
